Repository modular/modular, pull requests merged in 2024-05, with the labels that each got.

#2483 [tools] Add a docstring check to the CI pre-commit
  .pre-commit-config.yaml
Labels: imported-internally, merged-internally

#2530 [tools] Make the pre-commit format python files too
  .pre-commit-config.yaml
  examples/lit.cfg.py
Labels: mojo-repo

#2872 [Proposals] Add proposal for ref convention
  proposals/ref-convention.md
Labels: imported-internally

#2883 [stdlib] Fix `_isspace` use at compile time in licence checker
  stdlib/scripts/check-licenses.mojo
Labels: imported-internally
